.name {
	grid-area: name;

	display: flex;
	align-items: center;

	padding: 0 0.5rem;
	font-weight: 700;
}

.name.--right {
	text-align: right;
	justify-content: flex-end;
}

img.photo {
	display: block;
	max-height: calc(100% - var(--top-bar-team-logo-vertical-spacing) * 2);
}

img.photo.--left {
	padding-right: var(--top-bar-team-logo-horizontal-spacing);
}

img.photo.--right {
	order: 1;
	padding-left: var(--top-bar-team-logo-horizontal-spacing);
}
